<template lang="pug">
  div.card(@click="cardEditing") {{title}}
    EditIcon.editIcon
</template>

<script>
import EditIcon from "./icons/EditIcon";

export default {
  name: "AppCard",
  props: {
    title: { type: String, default: "" },
    id: { type: Number, required: true },
  },
  components: { EditIcon },
  methods: {
    cardEditing(){
      this.$store.dispatch("cardToEdit", this.id);
      this.$modal.show("card-edit-modal");
    }
  }
};
</script>

<style lang="scss" scoped>
.editIcon {
  opacity: 0;
}
.card {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  background-color: white;
  padding: 10px 5px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: 600;
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
    .editIcon {
      transition: all 0.8s ease-in-out;
      opacity: 1;
      width: 18px;
    }
  }
}
</style>
