<template lang="pug">
  div.column
    h2.title(v-if="!isEditing", @click="toEdit") {{title}}
    h2(v-if="isEditing")
      textarea(@blur="columnTitleEditEnd", @input="columnTitleEdit", :value="title", ref="titleEditing")
    div.cards-wrap
      slot(name="cards")
    a.addCard(@click="openAddCard()", v-if="!isAdding")
      span.plus + 
      | Добавить картрочку
    div.addCardMenu(v-if="isAdding", v-click-outside="addingAbort")
      textarea(placeholder="title", v-model="addingCardTitle", ref="titleAdding" )
      a.addCard-link(@click="addCard()") Добавить
    div.deleteColumn(@click="deleteColumn") Удалить колонку
</template>

<script>
import ClickOutside from "vue-click-outside";

export default {
  name: "AppColumn",
  props: {
    title: { type: String, default: "" },
    id: { type: Number, required: true },
  },
  data() {
    return {
      isAdding: false,
      isEditing: false,
      addingCardTitle: "",
      editingColumnTitle: "",
    };
  },
  methods: {
    openAddCard() {
      this.isAdding = !this.isAdding;
      this.$nextTick(() => this.$refs.titleAdding.focus());
    },
    addCard() {
      if (
        !(this.addingCardTitle.length === 0 || !this.addingCardTitle.trim())
      ) {
        let colId = this.id;
        let cardTitle = this.addingCardTitle;
        this.$store.dispatch("addCard", { colId, cardTitle });
        this.addingCardTitle = "";
      }
    },
    addingAbort() {
      if (this.addingCardTitle.length === 0 || !this.addingCardTitle.trim()) {
        this.isAdding = false;
      } else {
        this.addCard();
      }
    },
    toEdit() {
      this.isEditing = true;
      this.$nextTick(() => this.$refs.titleEditing.focus());
    },
    columnTitleEdit(e) {
      this.editingColumnTitle = e.srcElement.value;
    },
    columnTitleEditEnd() {
      let title = this.editingColumnTitle;
      let id = this.id;
      this.isEditing = false;
      if (title.length !== 0 || title.trim()) {
        this.$store.dispatch("columnTitleEdit", { title, id });
      }
    },
    deleteColumn() {
      this.$store.dispatch("deleteCardsInColumn", this.id);
      this.$store.dispatch("deleteColumn", this.id);
    },
  },
};
</script>

<style lang="scss" scoped>

.cards-wrap{
  position: relative;
}
.column {
  padding: 5px 10px 15px 15px;
  background-color: #ebecf0;
  display: flex;
  flex-direction: column;
}
.title {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.deleteColumn {
  z-index: 2;
  cursor: pointer;
  color: red;
  text-align: right;
  font-weight: bold;
}
.addCard {
  z-index: 2;
  margin-top: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  .plus {
    margin: 0 10px;
    font-weight: 900;
    font-size: 1.5em;
  }
  &:hover {
    background-color: rgba(9, 30, 66, 0.08);
  }
}
.addCardMenu{
  margin-top: auto;
  z-index: 2;
}
textarea {
  display: flex;
  width: -webkit-fill-available;
  border-radius: 5px;
  padding: 10px 10px;
  resize: vertical;
  font-weight: bold;
  min-height: 2em;
}
.addCard-link {
  cursor: pointer;
  display: block;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: green;
  padding: 5px 10px;
  color: white;
  font-weight: 600;
  text-align: center;
}
</style>
