<template lang="pug">
  div#app
    draggable.cols-wrap(:value="getAllColumns", group="columns" @change="columnsChange")
      AppColumn.col(v-for="col in getAllColumns", :title="col.title", :id="col.id", :style="{minHeight: getColumnHeight(col.id)}")
        template(v-slot:cards)
          draggable.AppCardDraggable(:value="getAllCards.filter((el) => el.colId === col.id)", group="cards" @change="cardsChange($event, col.id)")
            AppCard.AppCard(:title="card.title", :id="card.id" v-for="card in getAllCards.filter((el) => el.colId === col.id)" :key="card.id")
    div.addColumn-wrap
      a.addColumn(v-if="!isAdding", @click="openAddColumn()")
        span.plus + 
        | Добавить колонку
      div.addColumnMenu(v-if="isAdding", v-click-outside="addingAbort")
        textarea(placeholder="title", v-model="addingColumnTitle", ref="titleAdding" )
        a.addColumn-link(@click="addColumn()") Добавить
    modal(name="card-edit-modal", :width="70+'%'", :max-width="1000",  :min-height="600", :adaptive="true", height="auto" ,:scrollable="true" )
      div.modal-content-wrap(v-if="getEditingCard")
        h2
          label Title
            input.title-edit(:value="getEditingCard.title", @blur="cardTitleEditEnd", @input="cardTitleEdit")
        div.descr
          label Description
            textarea.descr-edit(:value="getEditingCard.descr", placeholder="description", @blur="cardDescrEditEnd", @input="cardDescrEdit")
        a.deleteCard(@click="deleteCard") Удалить карточку
</template>

<script>
import AppColumn from "./components/AppColumn";
import AppCard from "./components/AppCard";
import draggable from "vuedraggable";

export default {
  name: "App",
  data() {
    return {
      isAdding: false,
      addingColumnTitle: "",
      isCartEditing: false,
      editingCardTitle: "",
      editingCardDescr: "",
    };
  },
  components: {
    AppColumn,
    AppCard,
    draggable,
  },
  computed: {
    getAllCards() {
      return this.$store.getters.getAllCards;
    },
    getAllColumns() {
      return this.$store.getters.getAllColumns;
    },
    getEditingCard() {
      return this.$store.getters.getEditingCard;
    },
  },
  methods: {
    getColumnHeight(colId) {
      return (
        this.getAllCards.filter((el) => el.colId === colId).length * 50 +
        200 +
        "px"
      );
    },
    cardsChange(e, colId) {
      if (e.moved) {
        this.$store.dispatch("cardMoved", e);
      } else if (e.added) {
        this.$store.dispatch("cardAdded", { e, colId });
      } else {
        this.$store.dispatch("cardRemoved", { e, colId });
      }
    },
    columnsChange(e) {
      if (e.moved) {
        this.$store.dispatch("columnMoved", e);
      }
    },
    openAddColumn() {
      this.isAdding = !this.isAdding;
      this.$nextTick(() => this.$refs.titleAdding.focus());
    },
    addColumn() {
      if (
        !(this.addingColumnTitle.length === 0 || !this.addingColumnTitle.trim())
      ) {
        let cardTitle = this.addingColumnTitle;
        this.$store.dispatch("addColumn", cardTitle);
        this.addingColumnTitle = "";
      }
    },
    addingAbort() {
      if (
        this.addingColumnTitle.length === 0 ||
        !this.addingColumnTitle.trim()
      ) {
        this.isAdding = false;
      } else {
        this.addColumn();
      }
    },
    cardTitleEdit(e) {
      this.editingCardTitle = e.srcElement.value;
    },
    cardDescrEdit(e) {
      this.editingCardDescr = e.srcElement.value;
    },
    cardTitleEditEnd() {
      let newTitle = this.editingCardTitle;
      if (!(newTitle.length === 0 || !newTitle.trim())) {
        this.$store.dispatch("editCardTitle", newTitle);
      }
    },
    cardDescrEditEnd() {
      let newDescr = this.editingCardDescr;
      if (!(newDescr.length === 0 || !newDescr.trim())) {
        this.$store.dispatch("editCardDescr", newDescr);
      }
    },
    deleteCard() {
      this.$modal.hide("card-edit-modal");
      this.$store.dispatch("deleteCard");
    },
  },
};
</script>

<style lang="scss">
body {
  background-color: navy;
}
#app {
  display: flex;
}
.AppCardDraggable {
  position: absolute;
  width: 100%;
  height: 100vh;
}
.AppCard {
  height: auto;
  z-index: 2;
}
.cols-wrap {
  display: flex;
}
.col {
  width: 15%;
  min-width: 300px;
  margin-right: 20px;
  border-radius: 5px;
}
.addColumn-wrap {
  min-width: 300px;
  width: 15%;
  .addColumn {
    cursor: pointer;
    padding: 5px 10px 5px 15px;
    border-radius: 5px;
    background-color: #ebecf0;
    display: flex;
    align-items: center;
    font-weight: bold;
  }
  .plus {
    margin: 0 10px;
    font-weight: 900;
    font-size: 1.5em;
  }
  textarea {
    display: flex;
    width: -webkit-fill-available;
    border-radius: 5px;
    padding: 10px 10px;
    resize: vertical;
    font-weight: bold;
    min-height: 2em;
  }
  .addColumn-link {
    cursor: pointer;
    display: block;
    border-radius: 5px;
    margin-top: 10px;
    background-color: green;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    text-align: center;
  }
}
.modal-content-wrap {
  display: flex;
  flex-direction: column;
  padding: 50px;
  label {
    font-weight: 600;
    display: flex;
    flex-direction: column;
    input,
    textarea {
      margin-top: 0.5em;
      font-size: 1em;
      border-radius: 5px;
      padding: 5px 10px;
    }
    textarea {
      min-height: 200px;
      padding: 10px;
      resize: vertical;
      max-height: 60vh;
    }
  }
}
.deleteCard {
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  display: inline-block;
  color: red;
}
</style>
